@import url('http://fonts.cdnfonts.com/css/harry-potter');
body {
    font-family: 'Harry Potter', sans-serif;
    background-image: url(images/hp-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: hsl(0, 53%, 32%);
    font-size: 44px;
    color: hsl(41, 84%, 58%);
    padding: 46px;
    box-sizing: border-box;
    text-align: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

img {
    width: 500px;
}

main {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 1.8;
    text-align: center;
    padding: 40px 100px;
    background-color: hsla(41, 84%, 58%, .5);
    ;
}