@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
body {
    font-family: 'Harry Potter', sans-serif;
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: hsl(0, 53%, 32%);
    padding: 46px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
}

li>a {
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    color: black;
    background-color: hsl(41, 84%, 58%);
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}

.page-title {
    font-family: 'Harry Potter', sans-serif;
    font-size: 45px;
    text-align: center;
    padding: 40px;
}

main {
    background-color: hsl(41, 84%, 58%, 0.5);
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 40px;
}

.catagories {
    display: relative;
    height: 680px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

@media (min-width: 1500px) {
    .catagories {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        clip-path: none;
    }
}

.cover {
    position: absolute;
    width: 300px;
    left: 50%;
}

.cover.four {
    transform: rotate(20deg);
    bottom: 5%;
    left: 72%;
    top: 60%;
    height: 450px;
}

@media (min-width: 1300px) {
    .cover.four {
        grid-row: 4;
    }
}

.cover.three {
    bottom: 15%;
    /* transform: rotate(10deg); */
    bottom: 15%;
    left: 40%;
    top: 46%
}

@media (min-width: 1300px) {
    .cover.three {
        grid-row: 3;
    }
}

.cover.two {
    transform: rotate(-10deg);
    bottom: 15%;
    left: 30%;
    top: 46%;
    height: 450px;
}

@media (min-width: 1300px) {
    .cover.two {
        grid-row: 2;
        height: 450px;
    }
}

.cover.one {
    transform: rotate(-20deg);
    bottom: 5%;
    left: 10%;
    top: 60%;
    height: 450px;
}

@media (min-width: 1300px) {
    .cover.one {
        grid-row: 1;
    }
}

.cover:hover {
    animation: bounce 1s linear;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px)
    }
    40% {
        transform: translateY(0px)
    }
    60% {
        transform: translateY(-2px)
    }
    80% {
        transform: translateY(-0px)
    }
}


/*Character page style*/