@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
body {
    font-family: 'Harry Potter', sans-serif;
    background-image: url(images/background8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: hsl(0, 100%, 19%);
    font-size: 44px;
    padding: 46px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 140px;
}

.nav-bar {
    display: flex;
    align-content: center;
}

nav {
    display: flex;
    align-self: center;
}

.page-links {
    justify-self: center;
}

.page-links a+a {
    content: "|";
}

li>a {
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 20px;
}

li>a:hover {
    color: hsl(41, 84%, 58%);
}

main {
    display: flex;
    justify-content: center;
}

form {
    margin: 40px;
    border: solid black 3px;
    background-color: hsla(0, 1%, 57%, 0.432);
    width: 50%;
}

label,
input,
select {
    display: block;
    margin: 20px 20px;
    border-radius: 5px;
}

input {
    height: 34px;
    width: 280px;
    font-size: 25px;
    font-family: 'Yusei Magic', sans-serif;
}

select {
    height: 34px;
    width: 280px;
    font-size: 20px;
    font-family: 'Yusei Magic', sans-serif;
}

.submit-button {
    margin-top: 20px;
    height: 30px;
    width: 140px;
    font-size: 18px;
    background-color: hsl(41, 84%, 58%);
    font-family: 'Harry Potter', sans-serif;
}

label {
    font-size: 25px;
}