 @import url('http://fonts.cdnfonts.com/css/harry-potter');
 @import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
 body {
     font-family: 'Harry Potter', sans-serif;
     background-image: url(images/background8.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }
 
 header {
     background-color: hsl(0, 100%, 19%);
     font-size: 44px;
     padding: 46px;
     margin-bottom: 10px;
     box-sizing: border-box;
     text-align: center;
     display: flex;
     flex-direction: column;
 }
 
 .logo {
     width: 140px;
 }
 
 .nav-bar {
     display: flex;
     align-content: center;
 }
 
 nav {
     display: flex;
     align-self: center;
 }
 
 .page-links {
     justify-self: center;
 }
 
 .page-links a+a {
     content: "|";
 }
 
 li>a {
     font-size: 30px;
     list-style: none;
     text-decoration: none;
     color: white;
     border-radius: 15px;
     padding: 10px 20px;
     margin: 20px;
 }
 
 li>a:hover {
     color: hsl(41, 84%, 58%);
 }